 body {
            background-image: url("https://4kwallpapers.com/images/walls/thumbs_2t/9386.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            color: black;
        }
img {
    width: 100%; 
    height: auto; 
    max-width: 500px; 
}
