 body {
            background-image: url("https://4kwallpapers.com/images/walls/thumbs_2t/9386.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            color: black;
        }
